@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
$font-oswald: 'Oswald', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-Poppins: 'Poppins', sans-serif;



$line-font-slim:200;
$line-font-semi-slim:400;
$line-font-semi-thick:500;
$line-font-thick:800;

$size-font-little:1rem;
$size-font-medium:1.5rem;
$size-font-big:1.8rem;
$size-font-superbig:2rem;




