//- muy importante para que las variables funcionen
include ../config/config

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/png' sizes='32x32' href='assets/img/favicon.png')
        link(rel="stylesheet" href="css/styles.css")
        script(src="https://kit.fontawesome.com/1d88763075.js" crossorigin="anonymous")

        title Carlos Tucno Vasquez
        meta(name='description' content='Desarrollador de web basicas')
        meta(name='keywords' content='profesor, desarrollador web, registros excel, mentor en desarrollo')
        //- base(href='https://www.iejosefelixiguain.vercel.app/')
        //- link(rel='canonical' href='www.iejosefelixiguain.vercel.app/')
        //- meta(property='og:url' content='www.iejosefelixiguain.vercel.app/')
        //- meta(property='og:site_name' content='IE José Felíx Iguaín - Intay - Luricocha')

    body
        nav#navbar.nav
            block nav

        header#header.header
            block header

        main#main.main
            block main

        footer.footer
            block footer

        block scripts
        script(src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js")
        script(src="js/scripts-min.js")