// MIS ESTILOS

html{
    font-size: 62.5%;
    font-family: $font-Poppins;
}

body{
    padding: 0;
    // box-sizing: border-box;
    // background-color: $background-color;
    background-color: #fff;
}

// p, span, h1, h2, h3, h4, i{
//     margin: 0;
//     padding: 0;
// }

