// MIS ESTILOS

html{
    font-size: 62.5%;
    font-family: $font-Poppins;
    scroll-behavior: smooth;//realiza desplazamiento suave en el HTMl
}

body{
    padding: 0;
    // box-sizing: border-box;
    // background-color: $background-color;
    background-color: #f5f6fa;
    
}

// p, span, h1, h2, h3, h4, i{
//     margin: 0;
//     padding: 0;
// }

