.nav{
    background-color: #487eb0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 1.5rem;
    width:100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding:1rem 0;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    
    &__header{
        display:flex;
        padding:0 2rem;
        
        &-logo{
            font-size:3.5rem;
            color: #f5f6fa;
            text-decoration: none;
            font-weight:bold;
        }
    }
    
    
    &__btnMenu{
        padding:0 2rem;
        color: #f5f6fa;
        font-size: 3rem;

        @include laptop{
            display: none;
        }
    }


    &__menu{
        position: absolute;
        top: 5.5rem;
        width: 100%;
        height:90vh;
        background-color: #487eb0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        transition: transform .3s;
        transform: translate(100%);


        &-link{
            font-size:2rem;
            text-decoration: none;
            text-transform:uppercase;
            color: #f5f6fa;
            padding: 2.1rem;
            font-weight: 400;
            width:80%;
            text-align:center;
            margin-top:1rem;
        }

        @include laptop{
            transform: translate(0);
            position: relative;
            height:auto;
            flex-direction: row;
            justify-content: flex-end;
            top: 0;
            gap: 0.5rem;
            margin-right: 1rem;
            
            &-link{
                text-transform:none;
                padding: 0;
                width:auto;
                margin-top:0;
                padding: 0 1.5rem;
                
                &:hover{
                    border-radius: 10px 0 10px 0;
                    height:4rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    transition:background-color .5s;
                    background-color: rgba(255,255,255,0.3);
                    color: #487eb0;
                }
            }
        }
    }
}

.activadorShow{
    transform: translate(0);
}

