//- extends ../templates/template

//- block header
//-     include ../includes/header-menu

//- block slider-logo
//-     include ../includes/header-slider-logo

block main
    h1.title Bienvenido el proyecto web esta en construcción

