extends ../templates/template

block nav
    include ../includes/navegador

block header
    include ../includes/header-presentacion

block main
    include ../includes/contenido

block footer
    include ../includes/footer

