// image slider start
#inicio.portada
    .portada__box
        h1.portada__title
            span I'm
            |   Carlos Tucno
        p.portada__paragraph Front-end Developer
        //- button#switch.switch
        //-     span
        //-         i.fas.fa-sun
        //-     span
        //-         i.fas.fa-moon

    img.portada__image(src="/assets/img/matematicas.svg" alt="logo carlos tucno")

