// image slider start
#inicio.portada
    .portada__box
        h1.portada__title
            span I'm
            |   Carlos Tucno
        p.portada__paragraph Front-end Developer

    img.portada__image(src="/assets/img/matematicas.svg" alt="logo carlos tucno")

