.nav__menu.nav__menu-a
    a.nav__menu-logo(href="") CarlosDEV
    label#menu-toggle.nav__menu-show(for="checked")
        i.fas.fa-bars

#top-menu.nav__menu.nav__menu-b
    a.nav__menu-link(href="/") Inicio
    a.nav__menu-link(href="#sobremi") Sobre Mi 
    a.nav__menu-link(href="#actividades") Actividades 
    a.nav__menu-link(href="#habilidades") Habilidades

