.nav__header
    a.nav__header-logo(href="/") CarlosDEV
    button#switch.switch
        span
            i.fas.fa-sun
        span
            i.fas.fa-moon

.nav__btnMenu
    i.fas.fa-bars

.nav__menu
    a.nav__menu-link(href="#inicio") Inicio
    a.nav__menu-link(href="#sobremi") Sobre Mi 
    a.nav__menu-link(href="#actividades") Actividades 
    a.nav__menu-link(href="#habilidades") Habilidades


//- .nav__menu.nav__menu-a
//-     a.nav__menu-logo(href="/") 
//-         .nav__menu-logo-name CarlosDEV
//-         button#switch.switch
//-             span
//-                 i.fas.fa-sun
//-             span
//-                 i.fas.fa-moon
//-     label#toggle.nav__menu-show(for="checked")
//-         i.fas.fa-bars

//- #navbarx.nav__menu.nav__menu-b
//-     a#nav__menu1.nav__menu-link(href="#inicio") Inicio
//-     a#nav__menu2.nav__menu-link(href="#sobremi") Sobre Mi 
//-     a#nav__menu3.nav__menu-link(href="#actividades") Actividades 
//-     a#nav__menu4.nav__menu-link(href="#habilidades") Habilidades

