.nav__header
    a.nav__header-logo(href="/") CarlosDEV
    button#switch.switch
        span
            i.fas.fa-sun
        span
            i.fas.fa-moon

.nav__btnMenu
    i.fas.fa-bars

.nav__menu
    a.nav__menu-link(href="#inicio") Inicio
    a.nav__menu-link(href="#sobremi") Sobre Mi 
    a.nav__menu-link(href="#actividades") Actividades 
    a.nav__menu-link(href="#habilidades") Habilidades



